body{
  background: rgb(248,248,248);
  color: #1e2a56;
  font-size: 16px;
  font-family: 'Bree Serif', cursive;
}
h1{
  font-family: 'Bree Serif', cursive;
  color:#1e2a56;
  font-weight: bolder;
  font-size: 50px;
}
h2 {
  font-family: 'Pacifico', cursive;
  color: #639279;
  font-weight: lighter;
  font-size: 35px;
}
a {
  color: #1e2a56;
}
a:hover {
  text-decoration: none;
  color: #639279;
}
#introduction{
  text-align: center;
  background-position: center;
  background-size:cover;
  background-color: #639279; 
  padding: 20px;
  margin: 0;
  }
#introduction p {
  font-family: 'Bree Serif', cursive;
  color: white;
  font-size: 15px;
  padding-top: 10px;
  }

#soap {
  background-image: url("images/fond.jpg");
  background-size: cover;
}
#banner{
  text-align: center;
  background-position: left;
  background-image:url("images/Capa_sabonete.jpg");
  background-size: cover;
  padding: 50px;
  color: #1e2a56;
  }
#banner img {
  border-image-repeat: ; 
}
#banner h1 {
  font-family: 'Bree Serif', cursive;
  color: #1e2a56;
  font-size: 17px;
  padding: 40px;
}
#banner a {
  color: #1e2a56;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
}
#banner a:hover {
  text-decoration: none;
  color: #639279;
}


#banner p {
  color: #1e2a56;
  font-size: 20px;
  font-weight: lighter;
  padding:15px; 
}
#footer{
  padding: 30px;
  margin:  0px; 
  background: #1e2a56;
  color: lightgrey;
  text-align: center; 
}
.card{
  padding: 30px;
  font-weight: lighter;
  text-align:center;

  }

#wufoo-zqbf1231aius0m{
  padding: 30px;
}
#footer a {
  color: lightgrey;
  font-size: 30px;
  margin:0;
}
#footer a:hover {
  color: #639279;
}